{% extends 'base.html.twig' %}
{% block title %}Edit Profile{% endblock %}

{% block body %}
  <div class="contiainer">
    <div class="form-row">
    <h1>Edit Profile</h1>
    </div>
    {{ form_errors(form) }}
    {{ form_start(form) }}
    <div class="form-row">
      <div class="form-group col-md-6">
	{{ form_label(form.username, 'Username', {'label_attr': {'class': 'col-form-label'}}) }}
	{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
	{{ form_label(form.zip, 'zip', {'label_attr': {'class': 'col-form-label'}}) }}
	{{ form_widget(form.zip, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
  </div>
  <div class="form-group col-md-6">
    <button type="submit" class="btn btn-primary">Save Profile</button>
  </div>

  {{ form_end(form) }}
  <div class="form-group col-md-6">
    <a href="{{ path('profile') }}" class="btn btn-secondary">Back to profile</a>
    <a href="{{path('delete_user') }}" class="btn btn-danger">Delete Profile</a>
  </div>
{% endblock %}
